@value makerBlue,makerWhite from '../../common/colors.css';

.button {
  background-color: makerBlue;
  color: makerWhite;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 20px;
  font-family: "TmoneyRound";
  width: 100%;
}

.button:hover {
  opacity: 0.8;
}
