@value makerBlue,makerWhite from '../../common/colors.css';

.button {
  background-color: makerBlue;
  color: makerWhite;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  font-size: 0.8rem;
  font-family: "DungGeunMo", sans-serif;
  border-radius: 20px;
  width: 100%;
}

.button:hover {
  opacity: 0.8;
}
