@value makerBlack from '../../common/colors.css';

.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border: 6px double black;
  margin-bottom: 1em;
  position: relative;
  font-family: "DungGeunMo", sans-serif;
}

.input,
.textarea,
.select,
.button,
.fileInput {
  font-size: 0.8rem;
  width: 100%;
  border: 0;
  padding: 0.5em;
  border-bottom: 1px solid makerBlack;
  border-right: 1px solid makerBlack;
  background: makerWhite;
  font-family: "DungGeunMo", sans-serif;
  line-height: 1.4;
}

.border {
  border-right: 0px;
}

.borderUp {
  border-top: 1px solid black;
}

.input,
.select {
  flex: 1 1 30%;
}

.fileInput {
  padding: 0;
  flex: 1 1 50%;
  border-right: 0;
}

.input:focus,
.textarea:focus,
.select:focus,
.button:focus {
  outline: 0;
}

.textarea {
  flex-basis: 100%;
}

.ball {
  width: 15px;
  height: 15px;
  position: absolute;
}

.one {
  left: -10px;
  top: -10px;
}
.two {
  right: -10px;
  top: -10px;
}
.three {
  left: -10px;
  bottom: -10px;
}
.four {
  right: -10px;
  bottom: -10px;
}
