.pop_up {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  z-index: 2;
}
.pop_up__hide {
  display: none;
}
.pop_up__refresh {
  width: 230px;
  height: 68px;
  font-family: "DungGeunMo", sans-serif;
  position: absolute;
  bottom: 6%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  padding-left: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s transform ease-in-out;
}
.pop_up__refresh:hover {
  transform: scale(1.05);
}
.again {
  width: 80px;
  height: 80px;
}
.frame {
  width: 240px;
  position: absolute;
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.pop_up__message {
  font-family: "DungGeunMo", sans-serif;
  display: block;
  font-size: 38px;
  margin-top: 20px;
  color: #efbc2b;
}
.img_wrap {
  margin-top: 30px;
}
.img {
  width: 100%;
  height: 100%;
}
