@value makerRed from '../../common/colors.css';

.game__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
.game__button {
  position: absolute;
  bottom: 35px;
  width: 64px;
  height: 64px;
  background-color: makerRed;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border-radius: 100%;
  transition: 0.3s transform ease-in-out;
  box-shadow: 5px 6px 10px 2px rgb(25 25 25 / 30%);
}
.game__stop {
  position: absolute;
  bottom: 35px;
  width: 64px;
  height: 64px;
  background-color: makerRed;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border-radius: 100%;
  transition: 0.3s transform ease-in-out;
  box-shadow: 5px 6px 10px 2px rgb(25 25 25 / 30%);
}
.game__button:hover,
.game__stop:hover {
  transform: scale(1.1);
}
.again {
  width: 80px;
  height: 80px;
}
.frame {
  width: 240px;
  position: absolute;
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.stop_frame {
  width: 236px;
  height: 100px;
  position: absolute;
  left: -30px;
  top: -25px;
  user-select: none;
  cursor: pointer;
}
.score_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 40px;
}
.game__timer {
  visibility: hidden;
}
.game__score {
  visibility: hidden;
}
.game__timer_show {
  position: absolute;
  top: 140px;
  width: 200px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: makerRed;
  font-size: 26px;
  font-weight: bold;
}
.game__score_show {
  margin-left: 30px;
  visibility: visible;
  user-select: none;
  cursor: auto;
}
.score_frame {
  visibility: hidden;
}
.score_frame_show {
  visibility: visible;
  width: 280px;
  height: 100px;
  position: absolute;
  user-select: none;
  cursor: auto;
}
.goback {
  position: absolute;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 5%;
  top: 30px;
  background: unset;
  transition: 0.3s transform ease-in-out;
}
.pokedex {
  width: 60px;
  height: 60px;
}
.goback:hover {
  transform: scale(1.1);
}

.time_icon {
  font-size: 40px;
  color: makerRed;
  margin-right: 20px;
}
