.pokemon {
  width: 120px;
  height: 120px;
  clip-path: circle(44%);
  cursor: pointer;
  position: absolute;
  transition: 0.3s transform ease-in-out;
  pointer-events: all;
}
.ball {
  width: 80px;
  height: 80px;
  pointer-events: none;
  clip-path: circle(44%);
  cursor: pointer;
  position: absolute;
  transition: 0.3s transform ease-in-out;
}
.roy {
  width: 60px;
  height: 80px;
  cursor: pointer;
  position: absolute;
  transition: 0.3s transform ease-in-out;
}
.pokemon:hover,
.roy:hover {
  transform: scale(1.1);
}
.list {
  width: 150px;
  height: 150px;
}
.list_img {
  width: 67px;
  height: 67px;
}
