@value makerYellow,makerBgBlue, makerRed  from '../../common/colors.css';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.input {
  display: none;
}
.button {
  width: 100%;
  height: 100%;
  background-color: makerLightGrey;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 0.8rem;
  font-family: "DungGeunMo", sans-serif;
  border-radius: 20px;
}
.button.grey {
  background-color: makerBgBlue;
}
.button.pink {
  background-color: makerYellow;
}
.button:hover {
  opacity: 0.8;
}
.loading {
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  border: 3px solid #fff;
  border-top: 3px solid makerRed;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
