@value makerRed, makerWhite, makerGrey from '../../common/colors.css';
li {
  list-style: none;
}

.header {
  width: 100%;
  height: 64px;
  padding: 35px 0 0 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.header_wrap {
  max-width: 914px;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 6px 6px 12px #8080804a;
  display: flex;
  padding: 0 65px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
}

.list_link {
  display: flex;
  align-items: center;
  background-color: unset;
}

.list_text {
  margin-left: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  color: makerGrey;
  transition: color 0.3s ease-in-out;
}

.icon {
  fill: makerGrey;
  transition: fill 0.3s ease-in-out;
}

.icon:hover {
  fill: makerRed;
}

.list:hover .list_text,
.list:hover .icon {
  color: makerRed;
  fill: makerRed;
}

.inActive {
  color: makerGrey;
  fill: makerGrey;
}

.active {
  color: makerRed;
  fill: makerRed;
}

.logo {
  width: 16em;
}

.title {
  margin: 0;
  color: makerWhite;
}

@media screen and (max-width: 1024px) {
  .header_wrap {
    max-width: 600px;
    padding: 0 35px;
  }
  .icon {
    width: 28px;
  }
  .list_text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .header_wrap {
    max-width: 500px;
    padding: 0 25px;
  }
  .icon {
    width: 24px;
  }
  .list_text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .header_wrap {
    max-width: unset;
    width: 80%;
    padding: 0 15px;
  }
  .icon {
    width: 17px;
  }
  .list_text {
    font-size: 0.9rem;
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 100%;
    padding: 0;
    align-items: flex-start;
  }
  .header_wrap {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0 20px;
    border-radius: unset;
  }
  .icon {
    width: 18px;
  }
  .list_text {
    font-size: 0.9rem;
    margin-left: 9px;
  }
}

@media screen and (max-width: 414px) {
  .header_wrap {
    width: 100%;
    padding: 0 13px;
    border-radius: unset;
  }
  .icon {
    width: 16px;
  }
  .list_text {
    font-size: 0.813rem;
    margin-left: 7px;
  }
}
