@value makerRed, makerWhite from '../../common/colors.css';

.header {
  width: 100%;
  padding: 0.5em 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 16em;
}

.title {
  margin: 0;
  color: makerWhite;
}

.logout {
  position: absolute;
  right: 3em;
  top: 50%;
  padding: 0.8em;
  font-weight: bold;
  outline: 0;
  cursor: pointer;
  transform: translateY(-50%);
  background: unset;
  font-family: "DungGeunMo", sans-serif;
  font-size: 1.3em;
  color: makerRed;
}
.frame {
  right: -0.1em;
  top: 0.2em;
  position: absolute;
  width: 100px;
  height: 50px;
  user-select: none;
  cursor: inherit;
}
.start {
  position: absolute;
  left: 3em;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.start_img {
  width: 90px;
  height: 90px;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.start_text {
  margin-left: 15px;
  font-size: 1.6em;
  font-family: "DungGeunMo", sans-serif;
  font-weight: bold;
  color: makerRed;
  transition: transform 0.3s ease-in-out;
}
.start:hover .start_img,
.start:hover .start_text {
  transform: scale(1.1);
}
