@value makerGreen from '../../common/colors.css';

.login_wrap {
  width: 400px;
  height: 300px;
  border-radius: 22px;
  background-color: makerGreen;
}
header {
  text-align: center;
  padding: 15px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 1px solid #fff;
}
section {
  text-align: center;
}
section h3 {
  color: #fff;
  font-size: 1.3rem;
}
section button {
  display: block;
  margin: 0 auto;
  font-size: 1.3rem;
  width: 270px;
  height: 50px;
  border-radius: 40px;
  border: none;
  outline: none;
  background-color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.google {
  margin-bottom: 20px;
}
.github {
  display: block;
  margin: 0 auto;
}
footer {
  margin-top: 20px;
  color: #fff;
}
