@value makerBgBlue from './common/colors.css';

.main {
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: makerBgBlue;
}
