@value mediaQuery from '../../common/size.css';
@value makerRed from '../../common/colors.css';

.maker {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.container {
  flex: 1;
  display: flex;
  min-height: 0;
  justify-content: center;
}
.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.3;
  z-index: 0;
  left: 0;
  top: 0;
  cursor: unset;
  user-select: none;
}
.bg_img {
  position: absolute;
  width: 500px;
  top: -150px;
  left: -150px;
  mix-blend-mode: hard-light;
  opacity: 0.05;
  transform: rotate(333deg);
}

.addBtn {
  position: fixed;
  z-index: 9998;
  width: 240px;
  height: 64px;
  border-radius: 40px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: makerRed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  outline: none;
  box-shadow: 5px 6px 10px 2px rgb(179 179 179 / 30%);
  transition: 0.3s ease-in-out;
  transition-property: bottom, box-shadow;
}
.addText {
  margin-left: 10px;
  font-size: 1rem;
  font-family: "TmoneyRound";
  font-weight: bold;
}
.addBtn:hover {
  bottom: 35px;
  box-shadow: 5px 10px 15px 2px rgb(179 179 179 / 60%);
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
