@value mediaQuery from '../../common/size.css';

.maker {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.container {
  flex: 1;
  display: flex;
  min-height: 0;
}
.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.3;
  z-index: 0;
  left: 0;
  top: 0;
  cursor: unset;
  user-select: none;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
